#main {
  display: flex;
  justify-content: center;
}

#mainWrap {
  width: 800px;
}

#topMenu {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
  font-size: 13px;
  color: gray;
}

#mainText {
  display: flex;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  font-weight: 500;
}

.topMenuContent {
  display: flex;
  align-items: center;
}

.txtBar {
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 10px;
  background-color: gray;
}

#headerImgBox {
  padding: 10px;
  border: 1px solid #b8bfc1;
  border-radius: 10px;
}

#headerImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}

#sideBar {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  border: 1px solid #b8bfc1;
  border-radius: 10px;
  padding: 5px;
}

#sideBarOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #b8bfc1;
  font-size: 12px;
  color: #a4b9c6;
  font-weight: bold;
  border-radius: 10px;
}

#myImg {
  width: 170px;
  height: 100px;
}

#sideBarOneContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#profile,
#myName,
#myJob {
  cursor: pointer;
}

#profile:after {
  display: block;
  width: 30px;
  content: '';
  border-bottom: 1px solid #b8bfc1;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#profile:hover:after {
  transform: scaleX(1);
}

#myName:after {
  display: block;
  width: 100px;
  content: '';
  border-bottom: 1px solid #b8bfc1;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#myName:hover:after {
  transform: scaleX(1);
}

#myJob:after {
  display: block;
  width: 50px;
  content: '';
  border-bottom: 1px solid #b8bfc1;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#myJob:hover:after {
  transform: scaleX(1);
}

#addMan {
  width: 145px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

#addManContent:after {
  display: block;
  width: 40px;
  content: '';
  border-bottom: 1px solid #b8bfc1;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#addManContent:hover:after {
  transform: scaleX(1);
}

#navData {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border: 1.5px solid #e9e9e9;
  border-radius: 10px;
}

#category {
  font-size: 15px;
  cursor: pointer;
  color: #44a0dd;
}

#category:after {
  display: block;
  width: 50px;
  content: '';
  border-bottom: 1px solid #44a0dd;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#category:hover:after {
  transform: scaleX(1);
}

.navDataContent {
  font-size: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #6baad3;
}

.menuArrow {
  width: 8px;
  margin-right: 10px;
  filter: invert(72%) sepia(15%) saturate(1209%) hue-rotate(164deg)
    brightness(87%) contrast(90%);
}

#searchBox {
  display: flex;
  position: relative;
}

#search {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #b8bfc1;
  border-radius: 5px;
}

#searchIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 7px;
  right: 10px;
}

#list {
  width: 100%;
  height: 358px;
  margin-top: 5px;
  margin-left: 10px;
  border: 1px solid #b8bfc1;
  border-radius: 10px;
  padding: 25px 15px;
}

#listTopWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#listTopOne {
  display: flex;
  justify-content: space-between;
  color: #8a837e;
  font-weight: bold;
}

#listTopTwo {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  color: #cbc8c6;
  font-weight: bold;
  font-size: 13px;

  border-bottom: 1px solid #b8bfc1;
}
