#topMenu {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
  font-size: 13px;
  color: gray;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  font-weight: 500;
}

.topMenuContent {
  display: flex;
  align-items: center;
}

.txtBar {
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 10px;
  background-color: gray;
}

#main {
  padding: 0px 180px;
}

#headerImgBox {
  padding: 10px;
  border: 1px solid #e6e6e6;
}

#headerImg {
  width: 100%;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}
